@tailwind base;
@tailwind components;
@tailwind utilities;

input::placeholder {
  color: #718096;
  font-weight: 300;
}

.flex-100 {
  flex: 0 1 100%;
}

.flex-50 {
  flex: 0 1 50%;
}

.max-width-form {
  max-width: 450px;
}

.checkbox {
  transform: scale(1.2);
}

.bg-blue-button {
  background-color: #4285f4;
}

.bg-pink-button {
  background-color: #ea4c89;
}

.button-icon {
  position: absolute;
  left: 23px;
}
